<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BdTC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <BdTC.My.MySettings>
            <setting name="myDefaFileName" serializeAs="String">
                <value>C:\Map\Defas.def</value>
            </setting>
            <setting name="myCacKyHieuUDL" serializeAs="String">
                <value>C:\Map\KHData.udl</value>
            </setting>
            <setting name="myTenCT" serializeAs="String">
                <value>Bản đồ tác chiến</value>
            </setting>
            <setting name="myHienDanhSach" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="myMapGst" serializeAs="String">
                <value>C:\Map\BanDo.gst</value>
            </setting>
            <setting name="myMapNhoGst" serializeAs="String">
                <value>C:\Map\BanDoNho.gst</value>
            </setting>
            <setting name="mySoPixelsPer1000m" serializeAs="String">
                <value>312</value>
            </setting>
            <setting name="myKHQSZoom" serializeAs="String">
                <value>3357</value>
            </setting>
            <setting name="myKHQSMWidth" serializeAs="String">
                <value>1020</value>
            </setting>
            <setting name="myTinhChinhGocQuay" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="myTextureFile" serializeAs="String">
                <value>C:\Map\LongThanh.jpg</value>
            </setting>
            <setting name="my3DSoPixelsPer1000m" serializeAs="String">
                <value>312</value>
            </setting>
            <setting name="myMap1X" serializeAs="String">
                <value>106.9418258</value>
            </setting>
            <setting name="myMap1Y" serializeAs="String">
                <value>10.8443307</value>
            </setting>
            <setting name="myMap2X" serializeAs="String">
                <value>107.0017013</value>
            </setting>
            <setting name="myMap2Y" serializeAs="String">
                <value>10.7747964</value>
            </setting>
            <setting name="myGridDataFile" serializeAs="String">
                <value>C:\Map\GridData.txt</value>
            </setting>
            <setting name="myGRID_WIDTH" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="myGRID_HEIGHT" serializeAs="String">
                <value>119</value>
            </setting>
            <setting name="mySCALE_FACTOR" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="myFlag3DsFile" serializeAs="String">
                <value>C:\Map\D3DModelMesh.xml</value>
            </setting>
        </BdTC.My.MySettings>
    </userSettings>
</configuration>
